{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# install asdf deps
sudo apt install curl tar git -y

	{{ if ne .chezmoi.hostname "nixos" -}}
	# install asdf deps
	sudo apt install curl git -y


	# clone asdf git
	git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
	
	
	. "$HOME/.asdf/asdf.sh"

	. "$HOME/.asdf/completions/asdf.bash"


	# install lua
	cd
	asdf plugin-add lua https://github.com/Stratus3D/asdf-lua.git
	asdf install lua 5.3.2 
	asdf local lua 5.3.2

	{{ end -}}


{{ end -}}
